<%- include('partials/header') %>
notes


<a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>

<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>

<%- include('partials/footer') %>
